<div *ngIf = "isShowForm">
<input placeholder="English" [(ngModel)]= "newEn"><br>
<input placeholder="Vietnamese" [(ngModel)]= "newVn"><br>
<button (click)="addWord()">add new word</button>
</div>
<button (click)="isShowForm = true" *ngIf = "!isShowForm">add new word</button>
<br>
<select [(ngModel)] = "filterStatus">
  <option value="ViewAll"> View All </option>
  <option value="ViewRemembered"> View Remembered </option>
  <option value="ViewNotRemember"> View Not Remember </option>
</select>
<div *ngFor = "let word of arrWords" >
  <div class = "word" *ngIf = "getShowStatus(word.memorized)">
      <h4 [ngStyle] = "{ color: word.memorized ? 'red' : 'blue' }">
        {{ word.en }}
      </h4>
      <p>{{ word.vn }}</p>
      <button class="delete_button" (click) = "removeWord(word.id)">Delete</button>
  </div>
</div>